/* ---------------------------------------------
Motivis Styles
Source: SCSS
Appointment: inline styles from pages/components
--------------------------------------------- */

#mainFeed .mentions-input-box .mentions-autocomplete-list { display: none; background: #fff; border: 1px solid #b2b2b2; position: absolute; z-index: 10000; border-radius: 5px; border-top-right-radius: 0; border-top-left-radius: 0; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14844); }
#mainFeed .mentions-input-box .mentions-autocomplete-list ul { margin: 0; padding: 0; }
#mainFeed .mentions-input-box .mentions-autocomplete-list li { background-color: #fff; padding: 0 5px; margin: 0; width: auto; border-bottom: 1px solid #eee; height: 26px; line-height: 26px; overflow: hidden; cursor: pointer; list-style: none; white-space: nowrap; }
#mainFeed .mentions-input-box .mentions-autocomplete-list li:last-child { border-radius: 5px; }
#mainFeed .mentions-input-box .mentions-autocomplete-list li > img, .CommunityFeed .mentions-input-box .mentions-autocomplete-list li > div.icon { width: 16px; height: 16px; float: left; margin-top: 5px; margin-right: 5px; -moz-background-origin: 3px; border-radius: 3px; }
#mainFeed .mentions-input-box .mentions-autocomplete-list li em { font-weight: bold; font-style: none; }
#mainFeed .mentions-input-box .mentions-autocomplete-list li:hover, .CommunityFeed .mentions-input-box .mentions-autocomplete-list li.active { background-color: #f2f2f2; }
#mainFeed .mentions-input-box .mentions-autocomplete-list li b { background: #ffff99; font-weight: normal; }
#mainFeed .mentions-input-box .mentions { display: none; }

#shareContent .mentions-input-box .mentions-autocomplete-list { display: none; background: #fff; border: 1px solid #b2b2b2; position: absolute; z-index: 10000; border-radius: 5px; border-top-right-radius: 0; border-top-left-radius: 0; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14844); }
#shareContent .mentions-input-box .mentions-autocomplete-list ul { margin: 0; padding: 0; }
#shareContent .mentions-input-box .mentions-autocomplete-list li { background-color: #fff; padding: 0 5px; margin: 0; width: auto; border-bottom: 1px solid #eee; height: 26px; line-height: 26px; overflow: hidden; cursor: pointer; list-style: none; white-space: nowrap; }
#shareContent .mentions-input-box .mentions-autocomplete-list li:last-child { border-radius: 5px; }
#shareContent .mentions-input-box .mentions-autocomplete-list li > img, .CommunityFeed .mentions-input-box .mentions-autocomplete-list li > div.icon { width: 16px; height: 16px; float: left; margin-top: 5px; margin-right: 5px; -moz-background-origin: 3px; border-radius: 3px; }
#shareContent .mentions-input-box .mentions-autocomplete-list li em { font-weight: bold; font-style: none; }
#shareContent .mentions-input-box .mentions-autocomplete-list li:hover, .CommunityFeed .mentions-input-box .mentions-autocomplete-list li.active { background-color: #f2f2f2; }
#shareContent .mentions-input-box .mentions-autocomplete-list li b { background: #ffff99; font-weight: normal; }
#shareContent .mentions-input-box .mentions { display: none; }
#shareContent .mentions-input-box textarea { margin-bottom: 0; }
#shareContent .mentions-input-box { margin-bottom: 20px; }
