/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=25defbb96d8f602441cb)
 * Config saved to config.json and https://gist.github.com/25defbb96d8f602441cb
 */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/*- Don't Remove below this line -*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*- Don't Remove above this line -*/

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24 {
  float: left;
}
.col-xs-24 {
  width: 100%;
}
.col-xs-23 {
  width: 95.83333333%;
}
.col-xs-22 {
  width: 91.66666667%;
}
.col-xs-21 {
  width: 87.5%;
}
.col-xs-20 {
  width: 83.33333333%;
}
.col-xs-19 {
  width: 79.16666667%;
}
.col-xs-18 {
  width: 75%;
}
.col-xs-17 {
  width: 70.83333333%;
}
.col-xs-16 {
  width: 66.66666667%;
}
.col-xs-15 {
  width: 62.5%;
}
.col-xs-14 {
  width: 58.33333333%;
}
.col-xs-13 {
  width: 54.16666667%;
}
.col-xs-12 {
  width: 50%;
}
.col-xs-11 {
  width: 45.83333333%;
}
.col-xs-10 {
  width: 41.66666667%;
}
.col-xs-9 {
  width: 37.5%;
}
.col-xs-8 {
  width: 33.33333333%;
}
.col-xs-7 {
  width: 29.16666667%;
}
.col-xs-6 {
  width: 25%;
}
.col-xs-5 {
  width: 20.83333333%;
}
.col-xs-4 {
  width: 16.66666667%;
}
.col-xs-3 {
  width: 12.5%;
}
.col-xs-2 {
  width: 8.33333333%;
}
.col-xs-1 {
  width: 4.16666667%;
}
.col-xs-pull-24 {
  right: 100%;
}
.col-xs-pull-23 {
  right: 95.83333333%;
}
.col-xs-pull-22 {
  right: 91.66666667%;
}
.col-xs-pull-21 {
  right: 87.5%;
}
.col-xs-pull-20 {
  right: 83.33333333%;
}
.col-xs-pull-19 {
  right: 79.16666667%;
}
.col-xs-pull-18 {
  right: 75%;
}
.col-xs-pull-17 {
  right: 70.83333333%;
}
.col-xs-pull-16 {
  right: 66.66666667%;
}
.col-xs-pull-15 {
  right: 62.5%;
}
.col-xs-pull-14 {
  right: 58.33333333%;
}
.col-xs-pull-13 {
  right: 54.16666667%;
}
.col-xs-pull-12 {
  right: 50%;
}
.col-xs-pull-11 {
  right: 45.83333333%;
}
.col-xs-pull-10 {
  right: 41.66666667%;
}
.col-xs-pull-9 {
  right: 37.5%;
}
.col-xs-pull-8 {
  right: 33.33333333%;
}
.col-xs-pull-7 {
  right: 29.16666667%;
}
.col-xs-pull-6 {
  right: 25%;
}
.col-xs-pull-5 {
  right: 20.83333333%;
}
.col-xs-pull-4 {
  right: 16.66666667%;
}
.col-xs-pull-3 {
  right: 12.5%;
}
.col-xs-pull-2 {
  right: 8.33333333%;
}
.col-xs-pull-1 {
  right: 4.16666667%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-24 {
  left: 100%;
}
.col-xs-push-23 {
  left: 95.83333333%;
}
.col-xs-push-22 {
  left: 91.66666667%;
}
.col-xs-push-21 {
  left: 87.5%;
}
.col-xs-push-20 {
  left: 83.33333333%;
}
.col-xs-push-19 {
  left: 79.16666667%;
}
.col-xs-push-18 {
  left: 75%;
}
.col-xs-push-17 {
  left: 70.83333333%;
}
.col-xs-push-16 {
  left: 66.66666667%;
}
.col-xs-push-15 {
  left: 62.5%;
}
.col-xs-push-14 {
  left: 58.33333333%;
}
.col-xs-push-13 {
  left: 54.16666667%;
}
.col-xs-push-12 {
  left: 50%;
}
.col-xs-push-11 {
  left: 45.83333333%;
}
.col-xs-push-10 {
  left: 41.66666667%;
}
.col-xs-push-9 {
  left: 37.5%;
}
.col-xs-push-8 {
  left: 33.33333333%;
}
.col-xs-push-7 {
  left: 29.16666667%;
}
.col-xs-push-6 {
  left: 25%;
}
.col-xs-push-5 {
  left: 20.83333333%;
}
.col-xs-push-4 {
  left: 16.66666667%;
}
.col-xs-push-3 {
  left: 12.5%;
}
.col-xs-push-2 {
  left: 8.33333333%;
}
.col-xs-push-1 {
  left: 4.16666667%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-24 {
  margin-left: 100%;
}
.col-xs-offset-23 {
  margin-left: 95.83333333%;
}
.col-xs-offset-22 {
  margin-left: 91.66666667%;
}
.col-xs-offset-21 {
  margin-left: 87.5%;
}
.col-xs-offset-20 {
  margin-left: 83.33333333%;
}
.col-xs-offset-19 {
  margin-left: 79.16666667%;
}
.col-xs-offset-18 {
  margin-left: 75%;
}
.col-xs-offset-17 {
  margin-left: 70.83333333%;
}
.col-xs-offset-16 {
  margin-left: 66.66666667%;
}
.col-xs-offset-15 {
  margin-left: 62.5%;
}
.col-xs-offset-14 {
  margin-left: 58.33333333%;
}
.col-xs-offset-13 {
  margin-left: 54.16666667%;
}
.col-xs-offset-12 {
  margin-left: 50%;
}
.col-xs-offset-11 {
  margin-left: 45.83333333%;
}
.col-xs-offset-10 {
  margin-left: 41.66666667%;
}
.col-xs-offset-9 {
  margin-left: 37.5%;
}
.col-xs-offset-8 {
  margin-left: 33.33333333%;
}
.col-xs-offset-7 {
  margin-left: 29.16666667%;
}
.col-xs-offset-6 {
  margin-left: 25%;
}
.col-xs-offset-5 {
  margin-left: 20.83333333%;
}
.col-xs-offset-4 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 12.5%;
}
.col-xs-offset-2 {
  margin-left: 8.33333333%;
}
.col-xs-offset-1 {
  margin-left: 4.16666667%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}

// 480 xs breakpoint
@media (min-width: 481px) {
  .col-xs-B-1, .col-xs-B-2, .col-xs-B-3, .col-xs-B-4, .col-xs-B-5, .col-xs-B-6, .col-xs-B-7, .col-xs-B-8, .col-xs-B-9, .col-xs-B-10, .col-xs-B-11, .col-xs-B-12 {
    float: left;
  }
  .col-xs-B-12 {
    width: 100%;
  }
  .col-xs-B-11 {
    width: 91.66666667%;
  }
  .col-xs-B-10 {
    width: 83.33333333%;
  }
  .col-xs-B-9 {
    width: 75%;
  }
  .col-xs-B-8 {
    width: 66.66666667%;
  }
  .col-xs-B-7 {
    width: 58.33333333%;
  }
  .col-xs-B-6 {
    width: 50%;
  }
  .col-xs-B-5 {
    width: 41.66666667%;
  }
  .col-xs-B-4 {
    width: 33.33333333%;
  }
  .col-xs-B-3 {
    width: 25%;
  }
  .col-xs-B-2 {
    width: 16.66666667%;
  }
  .col-xs-B-1 {
    width: 8.33333333%;
  }
  .col-xs-B-pull-12 {
    right: 100%;
  }
  .col-xs-B-pull-11 {
    right: 91.66666667%;
  }
  .col-xs-B-pull-10 {
    right: 83.33333333%;
  }
  .col-xs-B-pull-9 {
    right: 75%;
  }
  .col-xs-B-pull-8 {
    right: 66.66666667%;
  }
  .col-xs-B-pull-7 {
    right: 58.33333333%;
  }
  .col-xs-B-pull-6 {
    right: 50%;
  }
  .col-xs-B-pull-5 {
    right: 41.66666667%;
  }
  .col-xs-B-pull-4 {
    right: 33.33333333%;
  }
  .col-xs-B-pull-3 {
    right: 25%;
  }
  .col-xs-B-pull-2 {
    right: 16.66666667%;
  }
  .col-xs-B-pull-1 {
    right: 8.33333333%;
  }
  .col-xs-B-pull-0 {
    right: 0%;
  }
  .col-xs-B-push-12 {
    left: 100%;
  }
  .col-xs-B-push-11 {
    left: 91.66666667%;
  }
  .col-xs-B-push-10 {
    left: 83.33333333%;
  }
  .col-xs-B-push-9 {
    left: 75%;
  }
  .col-xs-B-push-8 {
    left: 66.66666667%;
  }
  .col-xs-B-push-7 {
    left: 58.33333333%;
  }
  .col-xs-B-push-6 {
    left: 50%;
  }
  .col-xs-B-push-5 {
    left: 41.66666667%;
  }
  .col-xs-B-push-4 {
    left: 33.33333333%;
  }
  .col-xs-B-push-3 {
    left: 25%;
  }
  .col-xs-B-push-2 {
    left: 16.66666667%;
  }
  .col-xs-B-push-1 {
    left: 8.33333333%;
  }
  .col-xs-B-push-0 {
    left: 0%;
  }
  .col-xs-B-offset-12 {
    margin-left: 100%;
  }
  .col-xs-B-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-B-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-B-offset-9 {
    margin-left: 75%;
  }
  .col-xs-B-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-B-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-B-offset-6 {
    margin-left: 50%;
  }
  .col-xs-B-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-B-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-B-offset-3 {
    margin-left: 25%;
  }
  .col-xs-B-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-B-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-B-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24 {
    float: left;
  }
  .col-sm-24 {
    width: 100%;
  }
  .col-sm-23 {
    width: 95.83333333%;
  }
  .col-sm-22 {
    width: 91.66666667%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-20 {
    width: 83.33333333%;
  }
  .col-sm-19 {
    width: 79.16666667%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-17 {
    width: 70.83333333%;
  }
  .col-sm-16 {
    width: 66.66666667%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-14 {
    width: 58.33333333%;
  }
  .col-sm-13 {
    width: 54.16666667%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-11 {
    width: 45.83333333%;
  }
  .col-sm-10 {
    width: 41.66666667%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-8 {
    width: 33.33333333%;
  }
  .col-sm-7 {
    width: 29.16666667%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-5 {
    width: 20.83333333%;
  }
  .col-sm-4 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 8.33333333%;
  }
  .col-sm-1 {
    width: 4.16666667%;
  }
  .col-sm-pull-24 {
    right: 100%;
  }
  .col-sm-pull-23 {
    right: 95.83333333%;
  }
  .col-sm-pull-22 {
    right: 91.66666667%;
  }
  .col-sm-pull-21 {
    right: 87.5%;
  }
  .col-sm-pull-20 {
    right: 83.33333333%;
  }
  .col-sm-pull-19 {
    right: 79.16666667%;
  }
  .col-sm-pull-18 {
    right: 75%;
  }
  .col-sm-pull-17 {
    right: 70.83333333%;
  }
  .col-sm-pull-16 {
    right: 66.66666667%;
  }
  .col-sm-pull-15 {
    right: 62.5%;
  }
  .col-sm-pull-14 {
    right: 58.33333333%;
  }
  .col-sm-pull-13 {
    right: 54.16666667%;
  }
  .col-sm-pull-12 {
    right: 50%;
  }
  .col-sm-pull-11 {
    right: 45.83333333%;
  }
  .col-sm-pull-10 {
    right: 41.66666667%;
  }
  .col-sm-pull-9 {
    right: 37.5%;
  }
  .col-sm-pull-8 {
    right: 33.33333333%;
  }
  .col-sm-pull-7 {
    right: 29.16666667%;
  }
  .col-sm-pull-6 {
    right: 25%;
  }
  .col-sm-pull-5 {
    right: 20.83333333%;
  }
  .col-sm-pull-4 {
    right: 16.66666667%;
  }
  .col-sm-pull-3 {
    right: 12.5%;
  }
  .col-sm-pull-2 {
    right: 8.33333333%;
  }
  .col-sm-pull-1 {
    right: 4.16666667%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-24 {
    left: 100%;
  }
  .col-sm-push-23 {
    left: 95.83333333%;
  }
  .col-sm-push-22 {
    left: 91.66666667%;
  }
  .col-sm-push-21 {
    left: 87.5%;
  }
  .col-sm-push-20 {
    left: 83.33333333%;
  }
  .col-sm-push-19 {
    left: 79.16666667%;
  }
  .col-sm-push-18 {
    left: 75%;
  }
  .col-sm-push-17 {
    left: 70.83333333%;
  }
  .col-sm-push-16 {
    left: 66.66666667%;
  }
  .col-sm-push-15 {
    left: 62.5%;
  }
  .col-sm-push-14 {
    left: 58.33333333%;
  }
  .col-sm-push-13 {
    left: 54.16666667%;
  }
  .col-sm-push-12 {
    left: 50%;
  }
  .col-sm-push-11 {
    left: 45.83333333%;
  }
  .col-sm-push-10 {
    left: 41.66666667%;
  }
  .col-sm-push-9 {
    left: 37.5%;
  }
  .col-sm-push-8 {
    left: 33.33333333%;
  }
  .col-sm-push-7 {
    left: 29.16666667%;
  }
  .col-sm-push-6 {
    left: 25%;
  }
  .col-sm-push-5 {
    left: 20.83333333%;
  }
  .col-sm-push-4 {
    left: 16.66666667%;
  }
  .col-sm-push-3 {
    left: 12.5%;
  }
  .col-sm-push-2 {
    left: 8.33333333%;
  }
  .col-sm-push-1 {
    left: 4.16666667%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-24 {
    margin-left: 100%;
  }
  .col-sm-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-sm-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-21 {
    margin-left: 87.5%;
  }
  .col-sm-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-sm-offset-18 {
    margin-left: 75%;
  }
  .col-sm-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-sm-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-15 {
    margin-left: 62.5%;
  }
  .col-sm-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-sm-offset-12 {
    margin-left: 50%;
  }
  .col-sm-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-sm-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 37.5%;
  }
  .col-sm-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-sm-offset-6 {
    margin-left: 25%;
  }
  .col-sm-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-sm-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 12.5%;
  }
  .col-sm-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24 {
    float: left;
  }
  .col-md-24 {
    width: 100%;
  }
  .col-md-23 {
    width: 95.83333333%;
  }
  .col-md-22 {
    width: 91.66666667%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-20 {
    width: 83.33333333%;
  }
  .col-md-19 {
    width: 79.16666667%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-17 {
    width: 70.83333333%;
  }
  .col-md-16 {
    width: 66.66666667%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-14 {
    width: 58.33333333%;
  }
  .col-md-13 {
    width: 54.16666667%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-11 {
    width: 45.83333333%;
  }
  .col-md-10 {
    width: 41.66666667%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-8 {
    width: 33.33333333%;
  }
  .col-md-7 {
    width: 29.16666667%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-5 {
    width: 20.83333333%;
  }
  .col-md-4 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-2 {
    width: 8.33333333%;
  }
  .col-md-1 {
    width: 4.16666667%;
  }
  .col-md-pull-24 {
    right: 100%;
  }
  .col-md-pull-23 {
    right: 95.83333333%;
  }
  .col-md-pull-22 {
    right: 91.66666667%;
  }
  .col-md-pull-21 {
    right: 87.5%;
  }
  .col-md-pull-20 {
    right: 83.33333333%;
  }
  .col-md-pull-19 {
    right: 79.16666667%;
  }
  .col-md-pull-18 {
    right: 75%;
  }
  .col-md-pull-17 {
    right: 70.83333333%;
  }
  .col-md-pull-16 {
    right: 66.66666667%;
  }
  .col-md-pull-15 {
    right: 62.5%;
  }
  .col-md-pull-14 {
    right: 58.33333333%;
  }
  .col-md-pull-13 {
    right: 54.16666667%;
  }
  .col-md-pull-12 {
    right: 50%;
  }
  .col-md-pull-11 {
    right: 45.83333333%;
  }
  .col-md-pull-10 {
    right: 41.66666667%;
  }
  .col-md-pull-9 {
    right: 37.5%;
  }
  .col-md-pull-8 {
    right: 33.33333333%;
  }
  .col-md-pull-7 {
    right: 29.16666667%;
  }
  .col-md-pull-6 {
    right: 25%;
  }
  .col-md-pull-5 {
    right: 20.83333333%;
  }
  .col-md-pull-4 {
    right: 16.66666667%;
  }
  .col-md-pull-3 {
    right: 12.5%;
  }
  .col-md-pull-2 {
    right: 8.33333333%;
  }
  .col-md-pull-1 {
    right: 4.16666667%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-24 {
    left: 100%;
  }
  .col-md-push-23 {
    left: 95.83333333%;
  }
  .col-md-push-22 {
    left: 91.66666667%;
  }
  .col-md-push-21 {
    left: 87.5%;
  }
  .col-md-push-20 {
    left: 83.33333333%;
  }
  .col-md-push-19 {
    left: 79.16666667%;
  }
  .col-md-push-18 {
    left: 75%;
  }
  .col-md-push-17 {
    left: 70.83333333%;
  }
  .col-md-push-16 {
    left: 66.66666667%;
  }
  .col-md-push-15 {
    left: 62.5%;
  }
  .col-md-push-14 {
    left: 58.33333333%;
  }
  .col-md-push-13 {
    left: 54.16666667%;
  }
  .col-md-push-12 {
    left: 50%;
  }
  .col-md-push-11 {
    left: 45.83333333%;
  }
  .col-md-push-10 {
    left: 41.66666667%;
  }
  .col-md-push-9 {
    left: 37.5%;
  }
  .col-md-push-8 {
    left: 33.33333333%;
  }
  .col-md-push-7 {
    left: 29.16666667%;
  }
  .col-md-push-6 {
    left: 25%;
  }
  .col-md-push-5 {
    left: 20.83333333%;
  }
  .col-md-push-4 {
    left: 16.66666667%;
  }
  .col-md-push-3 {
    left: 12.5%;
  }
  .col-md-push-2 {
    left: 8.33333333%;
  }
  .col-md-push-1 {
    left: 4.16666667%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-24 {
    margin-left: 100%;
  }
  .col-md-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-md-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-21 {
    margin-left: 87.5%;
  }
  .col-md-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-md-offset-18 {
    margin-left: 75%;
  }
  .col-md-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-md-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-15 {
    margin-left: 62.5%;
  }
  .col-md-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-md-offset-12 {
    margin-left: 50%;
  }
  .col-md-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-md-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 37.5%;
  }
  .col-md-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-md-offset-6 {
    margin-left: 25%;
  }
  .col-md-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-md-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 12.5%;
  }
  .col-md-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24 {
    float: left;
  }
  .col-lg-24 {
    width: 100%;
  }
  .col-lg-23 {
    width: 95.83333333%;
  }
  .col-lg-22 {
    width: 91.66666667%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-20 {
    width: 83.33333333%;
  }
  .col-lg-19 {
    width: 79.16666667%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-17 {
    width: 70.83333333%;
  }
  .col-lg-16 {
    width: 66.66666667%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-14 {
    width: 58.33333333%;
  }
  .col-lg-13 {
    width: 54.16666667%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-11 {
    width: 45.83333333%;
  }
  .col-lg-10 {
    width: 41.66666667%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-8 {
    width: 33.33333333%;
  }
  .col-lg-7 {
    width: 29.16666667%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-5 {
    width: 20.83333333%;
  }
  .col-lg-4 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-2 {
    width: 8.33333333%;
  }
  .col-lg-1 {
    width: 4.16666667%;
  }
  .col-lg-pull-24 {
    right: 100%;
  }
  .col-lg-pull-23 {
    right: 95.83333333%;
  }
  .col-lg-pull-22 {
    right: 91.66666667%;
  }
  .col-lg-pull-21 {
    right: 87.5%;
  }
  .col-lg-pull-20 {
    right: 83.33333333%;
  }
  .col-lg-pull-19 {
    right: 79.16666667%;
  }
  .col-lg-pull-18 {
    right: 75%;
  }
  .col-lg-pull-17 {
    right: 70.83333333%;
  }
  .col-lg-pull-16 {
    right: 66.66666667%;
  }
  .col-lg-pull-15 {
    right: 62.5%;
  }
  .col-lg-pull-14 {
    right: 58.33333333%;
  }
  .col-lg-pull-13 {
    right: 54.16666667%;
  }
  .col-lg-pull-12 {
    right: 50%;
  }
  .col-lg-pull-11 {
    right: 45.83333333%;
  }
  .col-lg-pull-10 {
    right: 41.66666667%;
  }
  .col-lg-pull-9 {
    right: 37.5%;
  }
  .col-lg-pull-8 {
    right: 33.33333333%;
  }
  .col-lg-pull-7 {
    right: 29.16666667%;
  }
  .col-lg-pull-6 {
    right: 25%;
  }
  .col-lg-pull-5 {
    right: 20.83333333%;
  }
  .col-lg-pull-4 {
    right: 16.66666667%;
  }
  .col-lg-pull-3 {
    right: 12.5%;
  }
  .col-lg-pull-2 {
    right: 8.33333333%;
  }
  .col-lg-pull-1 {
    right: 4.16666667%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-24 {
    left: 100%;
  }
  .col-lg-push-23 {
    left: 95.83333333%;
  }
  .col-lg-push-22 {
    left: 91.66666667%;
  }
  .col-lg-push-21 {
    left: 87.5%;
  }
  .col-lg-push-20 {
    left: 83.33333333%;
  }
  .col-lg-push-19 {
    left: 79.16666667%;
  }
  .col-lg-push-18 {
    left: 75%;
  }
  .col-lg-push-17 {
    left: 70.83333333%;
  }
  .col-lg-push-16 {
    left: 66.66666667%;
  }
  .col-lg-push-15 {
    left: 62.5%;
  }
  .col-lg-push-14 {
    left: 58.33333333%;
  }
  .col-lg-push-13 {
    left: 54.16666667%;
  }
  .col-lg-push-12 {
    left: 50%;
  }
  .col-lg-push-11 {
    left: 45.83333333%;
  }
  .col-lg-push-10 {
    left: 41.66666667%;
  }
  .col-lg-push-9 {
    left: 37.5%;
  }
  .col-lg-push-8 {
    left: 33.33333333%;
  }
  .col-lg-push-7 {
    left: 29.16666667%;
  }
  .col-lg-push-6 {
    left: 25%;
  }
  .col-lg-push-5 {
    left: 20.83333333%;
  }
  .col-lg-push-4 {
    left: 16.66666667%;
  }
  .col-lg-push-3 {
    left: 12.5%;
  }
  .col-lg-push-2 {
    left: 8.33333333%;
  }
  .col-lg-push-1 {
    left: 4.16666667%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-24 {
    margin-left: 100%;
  }
  .col-lg-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-lg-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-21 {
    margin-left: 87.5%;
  }
  .col-lg-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-lg-offset-18 {
    margin-left: 75%;
  }
  .col-lg-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-lg-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-15 {
    margin-left: 62.5%;
  }
  .col-lg-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-lg-offset-12 {
    margin-left: 50%;
  }
  .col-lg-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-lg-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 37.5%;
  }
  .col-lg-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-lg-offset-6 {
    margin-left: 25%;
  }
  .col-lg-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-lg-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 12.5%;
  }
  .col-lg-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1800px) {
  .col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12, .col-xlg-13, .col-xlg-14, .col-xlg-15, .col-xlg-16, .col-xlg-17, .col-xlg-18, .col-xlg-19, .col-xlg-20, .col-xlg-21, .col-xlg-22, .col-xlg-23, .col-xlg-24 {
    float: left;
  }
  .col-xlg-24 {
    width: 100%;
  }
  .col-xlg-23 {
    width: 95.83333333%;
  }
  .col-xlg-22 {
    width: 91.66666667%;
  }
  .col-xlg-21 {
    width: 87.5%;
  }
  .col-xlg-20 {
    width: 83.33333333%;
  }
  .col-xlg-19 {
    width: 79.16666667%;
  }
  .col-xlg-18 {
    width: 75%;
  }
  .col-xlg-17 {
    width: 70.83333333%;
  }
  .col-xlg-16 {
    width: 66.66666667%;
  }
  .col-xlg-15 {
    width: 62.5%;
  }
  .col-xlg-14 {
    width: 58.33333333%;
  }
  .col-xlg-13 {
    width: 54.16666667%;
  }
  .col-xlg-12 {
    width: 50%;
  }
  .col-xlg-11 {
    width: 45.83333333%;
  }
  .col-xlg-10 {
    width: 41.66666667%;
  }
  .col-xlg-9 {
    width: 37.5%;
  }
  .col-xlg-8 {
    width: 33.33333333%;
  }
  .col-xlg-7 {
    width: 29.16666667%;
  }
  .col-xlg-6 {
    width: 25%;
  }
  .col-xlg-5 {
    width: 20.83333333%;
  }
  .col-xlg-4 {
    width: 16.66666667%;
  }
  .col-xlg-3 {
    width: 12.5%;
  }
  .col-xlg-2 {
    width: 8.33333333%;
  }
  .col-xlg-1 {
    width: 4.16666667%;
  }
  .col-xlg-pull-24 {
    right: 100%;
  }
  .col-xlg-pull-23 {
    right: 95.83333333%;
  }
  .col-xlg-pull-22 {
    right: 91.66666667%;
  }
  .col-xlg-pull-21 {
    right: 87.5%;
  }
  .col-xlg-pull-20 {
    right: 83.33333333%;
  }
  .col-xlg-pull-19 {
    right: 79.16666667%;
  }
  .col-xlg-pull-18 {
    right: 75%;
  }
  .col-xlg-pull-17 {
    right: 70.83333333%;
  }
  .col-xlg-pull-16 {
    right: 66.66666667%;
  }
  .col-xlg-pull-15 {
    right: 62.5%;
  }
  .col-xlg-pull-14 {
    right: 58.33333333%;
  }
  .col-xlg-pull-13 {
    right: 54.16666667%;
  }
  .col-xlg-pull-12 {
    right: 50%;
  }
  .col-xlg-pull-11 {
    right: 45.83333333%;
  }
  .col-xlg-pull-10 {
    right: 41.66666667%;
  }
  .col-xlg-pull-9 {
    right: 37.5%;
  }
  .col-xlg-pull-8 {
    right: 33.33333333%;
  }
  .col-xlg-pull-7 {
    right: 29.16666667%;
  }
  .col-xlg-pull-6 {
    right: 25%;
  }
  .col-xlg-pull-5 {
    right: 20.83333333%;
  }
  .col-xlg-pull-4 {
    right: 16.66666667%;
  }
  .col-xlg-pull-3 {
    right: 12.5%;
  }
  .col-xlg-pull-2 {
    right: 8.33333333%;
  }
  .col-xlg-pull-1 {
    right: 4.16666667%;
  }
  .col-xlg-pull-0 {
    right: auto;
  }
  .col-xlg-push-24 {
    left: 100%;
  }
  .col-xlg-push-23 {
    left: 95.83333333%;
  }
  .col-xlg-push-22 {
    left: 91.66666667%;
  }
  .col-xlg-push-21 {
    left: 87.5%;
  }
  .col-xlg-push-20 {
    left: 83.33333333%;
  }
  .col-xlg-push-19 {
    left: 79.16666667%;
  }
  .col-xlg-push-18 {
    left: 75%;
  }
  .col-xlg-push-17 {
    left: 70.83333333%;
  }
  .col-xlg-push-16 {
    left: 66.66666667%;
  }
  .col-xlg-push-15 {
    left: 62.5%;
  }
  .col-xlg-push-14 {
    left: 58.33333333%;
  }
  .col-xlg-push-13 {
    left: 54.16666667%;
  }
  .col-xlg-push-12 {
    left: 50%;
  }
  .col-xlg-push-11 {
    left: 45.83333333%;
  }
  .col-xlg-push-10 {
    left: 41.66666667%;
  }
  .col-xlg-push-9 {
    left: 37.5%;
  }
  .col-xlg-push-8 {
    left: 33.33333333%;
  }
  .col-xlg-push-7 {
    left: 29.16666667%;
  }
  .col-xlg-push-6 {
    left: 25%;
  }
  .col-xlg-push-5 {
    left: 20.83333333%;
  }
  .col-xlg-push-4 {
    left: 16.66666667%;
  }
  .col-xlg-push-3 {
    left: 12.5%;
  }
  .col-xlg-push-2 {
    left: 8.33333333%;
  }
  .col-xlg-push-1 {
    left: 4.16666667%;
  }
  .col-xlg-push-0 {
    left: auto;
  }
  .col-xlg-offset-24 {
    margin-left: 100%;
  }
  .col-xlg-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-xlg-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-xlg-offset-21 {
    margin-left: 87.5%;
  }
  .col-xlg-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-xlg-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-xlg-offset-18 {
    margin-left: 75%;
  }
  .col-xlg-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-xlg-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-xlg-offset-15 {
    margin-left: 62.5%;
  }
  .col-xlg-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-xlg-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-xlg-offset-12 {
    margin-left: 50%;
  }
  .col-xlg-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-xlg-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-xlg-offset-9 {
    margin-left: 37.5%;
  }
  .col-xlg-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-xlg-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-xlg-offset-6 {
    margin-left: 25%;
  }
  .col-xlg-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-xlg-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-xlg-offset-3 {
    margin-left: 12.5%;
  }
  .col-xlg-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-xlg-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-xlg-offset-0 {
    margin-left: 0%;
  }
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.333333px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #ffffff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

