/*-----
	Custom Demo Styles
	-----*/

body#harvardDemo {
	$user-color: #A51C30;

	$user-secondary: darken($user-color, 25);


	@if (lightness(darken($user-color, 25)) < 15) {
		$user-secondary: darken($user-color, 12);
	} @else {
		$user-secondary: darken($user-color, 25);
	}


	$user-secondary-text: lighten($user-color, 90);

	$color-custom: $user-color;
	$color-customSecondary: $user-secondary;
	$color-customSecondaryText: $user-secondary-text;

	// Link Colors
	$color-link: #1b7bac;
	$color-linkHover: #1b7bac;
	$color-primaryBtn: $color-custom;
	$color-primaryBtnHover: lighten($color-primaryBtn, 10%);
	$color-secondaryBtn: $color-black;
	$color-secondaryBtnHover: lighten($color-secondaryBtn, 10%);
	$color-tertiaryBtn: #767676;
	$color-tertiaryBtnHover: darken($color-tertiaryBtn, 10%);

	.login-container {
		width: 100%;
		min-height: 100vh;
		position: relative;
		z-index: 100;
		padding: 10% 0 200px;
		background: rgba($color-custom, .25);
		background: -moz-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color-custom, .25)), color-stop(100%, rgba(darken($color-custom, 90), .8)));
		background: -webkit-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
		background: -o-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
		background: -ms-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
		background: linear-gradient(to bottom, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
		background-color: rgba($color-custom, .25);
		transition: opacity .7s ease;
		.login-box {
			max-width: 460px;
			min-height: 375px;
			margin: 0 auto;
			transition: all .7s ease;
			.logo {
				background-color: $color-custom;
				width: 100%;
				height: 92px;
				padding: 10px;
				text-align: center;
				img {
					max-width: 100%;
					max-height: 100%;
					margin: 0 auto;
				}
			}
			input, label {
				width: 100%;
				text-align: left;
				padding: 0 $standard-horizontalPadding;
				@include font-primary-regular();
			}
			label {
				color: $color-darkGray;
				margin-bottom: 0;
				margin-top: 10px;
			}
			input {
				border: 0;
				border-bottom: solid 1px $color-strokeGray;
				outline: none;
				padding-bottom: 5px;
				font-size: 20px;
			}
			.blockBtnWrapper {
				border: 0;
				a {
					margin: 18px auto 6px;
					width: 90%;
					padding: 18px !important;
					float: none;
				}
			}
			h2 {
					@include font-primary-semibold();
				    padding-top: 12px;
				    margin-bottom: 10px;
				    font-size: 22px;
			}
			p {
				text-align: left;
				padding: 0 23px;
				margin-bottom: 12px;
				&:first-of-type:not(:last-of-type) {
					padding-top: 15px;
				}
				&.text-center {
					text-align: center;
					a {
						font-size: 14px;
					}
				}
				&.error {
					color: $color-error;
				}
				a {
					font-weight: 400;
					color: $color-link;
					&:hover {
						@include linkUnderlines($color-white, $color-linkHover);
					}
				}
			}
			hr {
				border-bottom: solid 1px $color-strokeGray;
				margin: 10px 0;
			}
			ul.bullet-list {
				padding: 0 40px;
				li {
					font-size: 14px;
				}
			}
		}
	}

	.btn-fill-custom {
		color: $color-white;
		background-color: $color-primaryBtn;
		border-color: $color-primaryBtn;
		&:hover {
			color: $color-white;
			border-color: $color-primaryBtnHover;
			background-color: $color-primaryBtnHover;
		}
		&.disabled:hover {
	    	background-color: $color-primaryBtn;
	    }
	}
}