//Custom color definitions
$user-color: #11a1d1;

$user-secondary: darken($user-color, 25);


@if (lightness(darken($user-color, 25)) < 15) {
	$user-secondary: darken($user-color, 12);
} @else {
	$user-secondary: darken($user-color, 25);
}


$user-secondary-text: lighten($user-color, 90);


