/*@font-face {
	font-family: 'Lrm';
	src:url('fonts/icomoon.eot?73g9zs');
	src:url('fonts/icomoon.eot?#iefix73g9zs') format('embedded-opentype'),
		url('fonts/icomoon.ttf?73g9zs') format('truetype'),
		url('fonts/icomoon.woff?73g9zs') format('woff'),
		url('fonts/icomoon.svg?73g9zs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@mixin iconFont() {
    font-family: 'Lrm';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    display: block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
	@include iconFont();
}


.icon-ml_001Alert:before {
	content: "\f000";
    font-size: 26px;
}
.icon-ml_002Calendar:before {
	content: "\f001";
    font-size: 15px;
}
.icon-ml_003ViewedStatus:before {
	content: "\f002";
}
.icon-ml_004ProfileArrow:before {
	content: "\f006";
}
.icon-ml_005Settings:before {
	content: "\f003";
    font-size: 15px;
}
.icon-ml_006SignOut:before {
	content: "\f005";
    font-size: 11px;
}
.icon-ml_007Badge:before {
	content: "\f007";
}
.icon-ml_008Back:before {
	content: "\f00b";
    font-size: 10px;
}
.icon-ml_009FormValidation:before {
	content: "\f019";
    font-size: 27px;
}
.icon-ml_010CompetenceMeter:before {
	content: "\f016";
}
.icon-ml_011ChevronDown:before {
	content: "\f009";
    font-size: 9px;
}
.icon-ml_012ChevronUp:before {
	content: "\f018";
    font-size: 9px;
}
.icon-ml_013Complete:before {
	content: "\f015";
    font-size: 15px;
}
.icon-ml_014Submitted:before {
	content: "\f01d";
    font-size: 16px;
}
.icon-ml_015Resubmit:before {
	content: "\f01e";
    font-size: 15px;
}
.icon-ml_016Delete:before {
	content: "\f014";
    font-size: 23px;
}
.icon-ml_017DOC:before {
	content: "\f013";
    font-size: 38px;
}
.icon-ml_018PPT:before {
	content: "\f01f";
    font-size: 38px;
}
.icon-ml_019PDF:before {
	content: "\f00e";
    font-size: 38px;
}
.icon-ml_020XLS:before {
	content: "\f021";
    font-size: 38px;
}
.icon-ml_021IMG:before {
	content: "\f01b";
    font-size: 38px;
}
.icon-ml_022AUD:before {
	content: "\f00c";
    font-size: 38px;
}
.icon-ml_023VID:before {
	content: "\f00f";
    font-size: 38px;
}
.icon-ml_024LNK:before {
	content: "\f012";
    font-size: 38px;
}
.icon-ml_025Done:before {
	content: "\f008";
    font-size: 38px;
}
.icon-ml_026Info:before {
	content: "\f01c";
}
.icon-ml_027GenericFile:before {
	content: "\f01a";
}
.icon-ml_028Comment:before {
	content: "\f017";
}
.icon-ml_029Upload:before {
	content: "\f011";
}
.icon-ml_030Evaluate:before {
	content: "\f00a";
}