/*-----
	Login Styles
	-----*/

[class^="login-cover-photo-image-"] {
	width: 100%;
	background-size: cover;
	background-position: top center;
	position: relative;
	overflow: hidden;
	.login-cover-photo-description {
		position: absolute;
		bottom: 110px;
		display: block;
		width: 100%;
		text-align: center;
		z-index: 190;
		&:before, &:after {
			@include font-primary-regular();
			display: block;
			text-transform: uppercase;
			color: $color-white;
			letter-spacing: .4em;
			font-size: 14px;
			transition: all .7s ease;
		}
		&:before {
			margin-bottom: 10px;
		}
		&:after {
			font-size: 12px;
		}
	}
}

.login-cover-photo-image-1 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image1.jpg");
	.login-cover-photo-description {
		&:before { content: 'Big Sur Coastline'; }
		&:after { content: 'California'; }
	}
}
.login-cover-photo-image-2 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image2.jpg");
	.login-cover-photo-description {
		&:before { content: 'Big Sur Coastline'; }
		&:after { content: 'California'; }
	}
}
.login-cover-photo-image-3 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image3.jpg");
	.login-cover-photo-description {
		&:before { content: 'Grand Canyon'; }
		&:after { content: 'Arizona'; }
	}
}
.login-cover-photo-image-4 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image4.jpg");
	.login-cover-photo-description {
		&:before { content: 'Grand Canyon'; }
		&:after { content: 'Arizona'; }
	}
}
.login-cover-photo-image-5 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image5.jpg");
	.login-cover-photo-description {
		&:before { content: 'Grand Canyon'; }
		&:after { content: 'Arizona'; }
	}
}
.login-cover-photo-image-6 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image6.jpg");
	.login-cover-photo-description {
		&:before { content: 'Grand Canyon National Park'; }
		&:after { content: 'Arizona'; }
	}
}
.login-cover-photo-image-7 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image7.jpg");
	.login-cover-photo-description {
		&:before { content: 'Halfdome Yosemite Valley'; }
		&:after { content: 'California'; }
	}
}
.login-cover-photo-image-8 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image8.jpg");
	.login-cover-photo-description {
		&:before { content: 'Horseshoe Bend'; }
		&:after { content: 'Arizona'; }
	}
}
.login-cover-photo-image-9 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image9.jpg");
	.login-cover-photo-description {
		&:before { content: "Hunt's Mesa"; }
		&:after { content: 'Arizona'; }
	}
}
.login-cover-photo-image-10 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image10.jpg");
	.login-cover-photo-description {
		&:before { content: 'Lake Tahoe'; }
		&:after { content: 'Nevada'; }
	}
}
.login-cover-photo-image-11 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image11.jpg");
	.login-cover-photo-description {
		&:before { content: 'North Shore Kauai'; }
		&:after { content: 'Hawaii'; }
	}
}
.login-cover-photo-image-12 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image12.jpg");
	.login-cover-photo-description {
		&:before { content: 'Palouse Falls'; }
		&:after { content: 'Washington'; }
	}
}
.login-cover-photo-image-13 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image13.jpg");
	.login-cover-photo-description {
		&:before { content: 'Pemigewasset Rim'; }
		&:after { content: 'New Hampshire'; }
	}
}
.login-cover-photo-image-14 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image14.jpg");
	.login-cover-photo-description {
		&:before { content: 'Polychrome Valley'; }
		&:after { content: 'Alaska'; }
	}
}
.login-cover-photo-image-15 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image15.jpg");
	.login-cover-photo-description {
		&:before { content: 'Shenandoah National Park'; }
		&:after { content: 'Virgina'; }
	}
}
.login-cover-photo-image-16 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image16.jpg");
	.login-cover-photo-description {
		&:before { content: 'Smoky Mountains'; }
		&:after { content: 'North Carolina'; }
	}
}
.login-cover-photo-image-17 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image17.jpg");
	.login-cover-photo-description {
		&:before { content: 'White Mountains'; }
		&:after { content: 'New Hampshire'; }
	}
}
.login-cover-photo-image-18 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image18.jpg");
	.login-cover-photo-description {
		&:before { content: 'Zabriskie Point'; }
		&:after { content: 'California'; }
	}
}
.login-cover-photo-image-19 {
	background-image: url("https://d22fzzshfnw7fr.cloudfront.net/images/login/lowRes/image19.jpg");
	.login-cover-photo-description {
		&:before { content: 'Zion National Park'; }
		&:after { content: 'Utah'; }
	}
}


#highResImage {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: top center;
	position: absolute;
	z-index: 0;
}

.login-container {
	width: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 100;
	padding: 10% 0 200px;
	background: rgba($color-custom, .25);
	background: -moz-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color-custom, .25)), color-stop(100%, rgba(darken($color-custom, 90), .8)));
	background: -webkit-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -o-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -ms-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: linear-gradient(to bottom, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background-color: rgba($color-custom, .25);
	transition: opacity .7s ease;
	.login-box {
		max-width: 460px;
		min-height: 375px;
		margin: 0 auto;
		transition: all .7s ease;
		.logo {
			background-color: $color-custom;
			width: 100%;
			height: 92px;
			padding: 10px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				height: 100%;
			}
			img {
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;
			}
		}
		input, label {
			width: 100%;
			text-align: left;
			padding: 0 $standard-horizontalPadding;
			@include font-primary-regular();
		}
		label {
			color: $color-darkGray;
			margin-bottom: 0;
			margin-top: 10px;
		}
		input {
			border: 0;
			border-bottom: solid 1px $color-strokeGray;
			outline: none;
			padding-bottom: 5px;
			font-size: 20px;
		}
		.blockBtnWrapper {
			border: 0;
			a {
				margin: 18px auto 6px;
				width: 90%;
				padding: 18px !important;
				float: none;
			}
		}
		h2 {
				@include font-primary-semibold();
			    padding-top: 12px;
			    margin-bottom: 10px;
			    font-size: 22px;
		}
		p {
			text-align: left;
			padding: 0 23px;
			margin-bottom: 12px;
			&:first-of-type:not(:last-of-type) {
				padding-top: 15px;
			}
			&.text-center {
				text-align: center;
				a {
					font-size: 14px;
				}
			}
			&.error {
				color: $color-error;
			}
			a {
				font-weight: 400;
				color: $color-link;
				&:hover {
					@include linkUnderlines($color-white, $color-linkHover);
				}
			}
		}
		hr {
			border-bottom: solid 1px $color-strokeGray;
			margin: 10px 0;
		}
		ul.bullet-list {
			padding: 0 40px;
			li {
				font-size: 14px;
			}
		}
	}
}

.login-section-panel {
	background-color: $color-white;
	padding-bottom: 8px;
}
#forgotPassword {
	display: none;
}

#checkEmail {
	display: none;
	padding-bottom: 15px;
}

#changePassword {
	display: none;
}

.eye-button {
	position: absolute;
	bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 42px;
	height: 42px;
	background-size: 21px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 200;
	&.hover {
		svg#eyeButtonAnimation {
			.cls-1 {
				animation-play-state: paused;
				fill: rgba($color-white, 0);
			}
		}
		background-image: url("images/eye-icon/eyeHover.svg");
		background-size: 42px;
		cursor: pointer;
		+ .login-container {
			opacity: 0;
			.login-box {
				transform: scale(1.2, 1.2);
			}

		}
		~ .login-cover-photo-description {
			&:before, &:after {
				letter-spacing: .5em;
				opacity: 0;
			}
		}
	}
}


@keyframes animateEyelash-1 {
	0% {opacity: 0;}
	17% {opacity: 0;}
	25% {opacity: 1;}
	77% {opacity: 1;}
	85% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes animateEyelash-2 {
	0% {opacity: 0;}
	22% {opacity: 0;}
	30% {opacity: 1;}
	72% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes animateEyelash-3 {
	0% {opacity: 0;}
	27% {opacity: 0;}
	35% {opacity: 1;}
	67% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes animateEyelash-4 {
	0% {opacity: 0;}
	32% {opacity: 0;}
	40% {opacity: 1;}
	62% {opacity: 1;}
	70% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes animateEyelash-5 {
	0% {opacity: 0;}
	37% {opacity: 0;}
	45% {opacity: 1;}
	57% {opacity: 1;}
	65% {opacity: 0;}
	100% {opacity: 0;}
}



@keyframes squeeze {
	0%,45% {transform: scaleY(1) translate(-206px, -324px);}
	50% {transform: scaleY(.8) translate(-206px, -304px);}
	55%, 100% {transform: scaleY(1) translate(-206px, -324px);}
}

@keyframes blink {
	0%,45% {opacity: 0;}
	50% {opacity: 1;}
	55%, 100% {opacity: 0;}
}

svg#eyeButtonAnimation {
	width: 23px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 12px;
	.cls-1 {
		fill: rgba($color-white, 1);
	}
	.eyelash-1, .eyelash-2, .eyelash-3, .eyelash-4, .eyelash-5 {
		opacity: 1;
		animation-name: squeeze;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
	}
	.pupil-large {
		opacity: 0;
		animation-name: blink;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
	}
	.outereye {
		// transform:scaleY(.8) translate(-206px, -304px);
		animation-name: squeeze;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
	}
	/*.eyelash-1 {
		animation-name: animateEyelash-1;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
	.eyelash-2 {
		animation-name: animateEyelash-2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
	.eyelash-3 {
		animation-name: animateEyelash-3;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
	.eyelash-4 {
		animation-name: animateEyelash-4;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
	.eyelash-5 {
		animation-name: animateEyelash-5;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	} */
}



/*-----
	On-boarding Styles
	-----*/


.on-boarding-container {
	text-align: center;
	.on-boarding-tabs {
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 100;
		li {
			border: solid 1px $color-strokeGray;
			a {
				display: block;
				background-color: $color-offWhite;
				width: 160px;
				height: 98px;
				text-transform: uppercase;
				color: $color-gray;
				font-weight: 400;
				font-size: 14px;
				padding-top: 9px;
			}
			div.svg-holder {
				width: 55px;
				height: 55px;
				margin: auto;
				text-align: center;
				border: solid 2px $color-gray;
				border-radius: 200px;
				position: relative;
				svg {
					position: relative;
					top: 8px;
					width: 35px;
					height: 35px;
					.st0 {
						fill: $color-gray;
					}
				}
			}
			&:not(:last-child) {
				border-bottom: none;
			}
			&.active {
				border-right-color: $color-white;
				a {
					color: $color-custom;
					background-color: $color-white;
					div.svg-holder {
						background-color: $color-custom;
						border-color: $color-custom;
						svg {
							.st0 {
								fill: $color-white;
							}
						}
					}
				}
			}
			&.complete {
				a {
					color: $color-green;
					div.svg-holder {
						background-color: $color-green;
						border-color: $color-green;
						&:before {
							@include iconFont();
							content: '\f00d';
							color: $color-white;
							font-size: 20px;
							position: absolute;
							left: 14px;
							top: 16px;
						}
					}
					svg {
						display: none;
					}

				}
			}
		}
	}
	.on-boarding-content {
		width: 580px;
		height: 496px;
		vertical-align: top;
		overflow-y: auto;
		display: inline-block;
		background-color: $color-white;
		border: solid 1px $color-strokeGray;
		position: relative;
		z-index: 50;
		left: -5px;
		@include customScrollbar();
		> div {
			display: none;
			padding: 15px 60px 15px;
			text-align: left;
			&:first-child {
				display: block;
			}
			.blockBtnWrapper {
				max-width: 350px;
				margin: 0 auto;
				border: none;
				.block-btn-full:first-of-type {
					margin-bottom: 10px;
				}
			}
			&#welcome-content {
				padding-top: 45px;
				img.avatar {
					float: left;
				}
				h1 {
					float: left;
					margin-top: 24px;
					margin-left: 15px;
					font-weight: 600;
					color: $color-custom;
				}
				div.clearfix {
					margin-bottom: 30px;
				}
				p:last-of-type {
					margin-bottom: 45px;
				}
			}
			input[type="text"], textarea {
				    width: 100%;
				    border: solid 1px #e8e9ec;
				    margin-bottom: 20px;
				    box-sizing: border-box;
				    padding: 0 14px;
				    font-family: 'Open Sans', arial, sans-serif;
				    font-weight: 400;
				    background-color: #fff;
				    font-size: 16px;
			}
			.card-toggle-content {
				a {
					padding: 9px 23px;
					i.lrm {
						top: 20px;
					}
				}
			}
			&#profile-photo-content {
				h3 {
					text-transform: uppercase;
				    font-size: 15px;
				    margin-bottom: 10px;
				}
				.clearfix {
					margin: 45px 0 0;
				}
				.avatar-large {
					float: left;
					max-width: 230px;
					margin-right: 14px;
				}
				.select-avatar {
					margin-top: 20px;
					a {
						margin-bottom: 3px;
						display: inline-block;
						width: 68px;
						height: 68px;
						border: solid 2px transparent;
						border-radius: 600px;

						&.active {
							border-color: $color-green;
						}
						.avatar-small {
							max-width: 100%;
						}
					}
				}
				.block-btn-full {
					cursor: pointer;
				}
			}
			small {
				p {
					font-size: 14px;
					margin-bottom: 1.5em;
				}
			}
		}
	}
	@media (max-width: 750px) {
		.on-boarding-tabs {
			display: none;
		}
		.on-boarding-content {
			width: 100%;
			margin: 0 auto;
			> div {
				padding: $standard-padding;
			}
			.previousSlide {
				&:before {
					@include iconFont();
					content: '\f00b';
					font-size: 20px;
				    margin-bottom: 10px;
				}
			}
		}
	}
	@media (max-width: 500px) {
		#welcome-content {
			img.avatar {
				display: none;
			}
		}
	}
}